<%= javascript_include_tag :jquery_easing %>
<div class="eff">
  <%= image_tag "memories.jpeg", width:640, height:480, id: "key-icon" %>
  <div class="caption"><a href="/auth/facebook" class="header">Login</a><p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. </p></div>
</div>

