<div id="leftBar"></div>
<div id="rightBar">
  <div id="year"></div>
  <div id="caption"></div>
  <div id="clock"></div>
  <audio autoplay="autoplay" >
    <source src=<%= "/song.mp3"%> type="audio/mpeg">
  </audio>
  <div id="map-canvas"></div>
</div>

<%= javascript_include_tag :timeline %>
