<div id="leftBar"></div>
<div id="rightBar">
  <div id="year"></div>
  <div id="caption"></div>
  <div id="clock"></div>
  <audio controls>
    <source src="./song.mp3" type="audio/mpeg">
  </audio>
</div>

<%= javascript_include_tag :timeline %>
