<div id="leftBar"></div>
<div id="rightBar">
  <div id="share_link">
    <a onclick="postToFeed(); return false;">Share yout timeline to facebook</a>
  </div>
  <p id='msg' style="display:none;"></p>
  <div id="share_key" style="display:none;"><%= @user.share_key %></div>
  <div id="year"></div>
  <div id="caption-outer">
    <div id="quotes-left" class="quotes">“</div>
    <p id="caption"></p>
    <div id="quotes-right" class="quotes">”</div>
  </div>
  <div id="media-part">
    <div id="clock"></div>
    <audio autoplay="autoplay" controls autoplay loop>
      <source src=<%= "/song.mp3"%> type="audio/mpeg">
    </audio>
  <div id="map-canvas"></div>
</div>
<script src='http://connect.facebook.net/en_US/all.js'></script>
<script> 
  FB.init({appId: "589820887715988", status: true, cookie: true});

  function postToFeed() {
    uiud = $("#share_key").html();
    url = (window.location.origin+"/share/"+uiud)
    var obj = {
      method: 'feed',
      redirect_uri: url,
      link: url,
      picture: 'http://memph.herokuapp.com/favicon.ico',
      name: 'my photos timeline via memph',
      caption: 'share your memory to your friends',
      description: 'my photos timeline via memph'
    };

    function callback(response) {}

    FB.ui(obj, callback);
  }

</script>
<%= javascript_include_tag :timeline %>

<script>
$(document).ready(function() {
  app = new TimeLine('');
  app.displayYearRange();
  app.fetchNewImage(app.currentYear, app.shuffleImage);
})
</script>
